<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3699</key>
		<string>香港特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3621</key>
		<string>台湾省</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3492</key>
		<string>新疆维吾尔族自治区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3459</key>
		<string>宁夏回族自治区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3399</key>
		<string>青海省</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3285</key>
		<string>甘肃省</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3157</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>3721</key>
		<string>澳门特别行政区</string>
		<key>subField</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
